NODE_ENV=production
PORT=3000
BASE_URL=https://marketing.araunahtech.com.br
DATABASE_URL=mysql://araunah:@Mmff33144024h%23@easypanel.araunah.cloud:3306/sistemas_whatsapp
META_APP_ID=851768798029616
META_APP_SECRET=4847e80ff7a642e889691b92b1f361c3
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=1021719524357057
WHATSAPP_BUSINESS_ACCOUNT_ID=906573788957384
WHATSAPP_API_VERSION=v22.0
WEBHOOK_VERIFY_TOKEN=trocar-por-token-forte
